<div class="container">
  <div class="row">
    <div 
      class="col-md-6 my-4 border text-center"
      [ngStyle]="divStyle()"                   
      (click)="activateForm()"
      >
      <h4 *ngIf="isShowText" [ngStyle]="textStyle()">{{this.textDisplay}}</h4>
      <form                
        [formGroup]="weatherSearchForm"
        *ngIf="isShowForm"            
        (keydown)="fetchWeather($event, weatherSearchForm.value)">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Enter a city"
            formControlName="location"
            [ngStyle]="inputStyle()"
          />
         </div>         
       </form> 
       <button 
        type="button" 
        class="btn btn-success btn-sm" 
        [disabled]="isDisabled"
        *ngIf="isShowBtn"
        [ngStyle]="buttonStyle()"
        (click)="onEdit()"
        >Edit
      </button>
    </div>    
  </div>
</div>