<div class="container">
  <div class="row">
    <div 
      class="col my-4 border text-center"
      [ngStyle]="divStyle()"                   
      (click)="activateForm()"
    >      
      <div [ngStyle]="imgStyle()"></div>
      <div [ngStyle]="breakStyle()"></div>
      <h5 *ngIf="booleanInfo['isShowText']" class="" [ngStyle]="textStyle()">{{this.displayInfo['cityDisplay']}}</h5>
      <div [ngStyle]="breakStyle()"></div>
      <h5 *ngIf="booleanInfo['isShowText']" class="" [ngStyle]="textStyle()">{{this.displayInfo['weatherDisplay']}}</h5>
      <div [ngStyle]="breakStyle()"></div>
      <h5 *ngIf="booleanInfo['isShowText']" class="" [ngStyle]="textStyle()">{{this.displayInfo['tempDisplay']}}</h5>
      <div [ngStyle]="breakStyle()"></div>
      <h5 *ngIf="booleanInfo['isShowText']" class="" [ngStyle]="textStyle()">{{this.displayInfo['feelsLikeDisplay']}}</h5>
      <div [ngStyle]="breakStyle()"></div>
      <h5 *ngIf="booleanInfo['isShowText']" class="" [ngStyle]="textStyle()">{{this.displayInfo['speedDisplay']}}</h5>
      <form                
        [formGroup]="weatherSearchForm"
        *ngIf="booleanInfo['isShowForm']"            
        (keydown)="fetchWeather($event, weatherSearchForm.value)">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Enter a city"
            formControlName="location"
            [ngStyle]="inputStyle()"
          />
         </div>         
       </form> 
       <button 
        type="button" 
        class="btn btn-success btn-sm" 
        [disabled]="booleanInfo['isDisabled']"
        *ngIf="booleanInfo['isShowBtn']"
        [ngStyle]="buttonStyle()"
        (click)="onEdit()"
        >Edit
      </button>
    </div>    
  </div>
</div>