<div>
  <h1 class="my-4 text-center">PolyWeather</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <app-grid [id]="1"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="2"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="3"></app-grid>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <app-grid [id]="4"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="5"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="6"></app-grid>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <app-grid [id]="7"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="8"></app-grid>
      </div>
      <div class="col-sm">
        <app-grid [id]="9"></app-grid>
      </div>
    </div>
  </div>
</div>